body {
    background-color: rgba(185, 185, 185, 0.95);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0;
}

#location {
    color: black;
    font-size: 2.5em;
}

#description {
    font-size: 1.75em;
    margin-top: -25px;
}

#border {
    background-color: rgb(245, 245, 245);
    text-align: center;
    width: 80%;
    margin: 50px auto;
    padding: 1px;
}

#temperature {
    font-size: 4.25em;
    text-align: center;
}

#date {
    color: black;
    font-size: 2em;
}

#old_date {
    color: black;
    font-size: 1.25em;
}

#allow-location-service {
    font-weight: bolder;
    font-size: 1em;
}